# 복사 후 .env 파일에 API 키 값 넣을 것

GEMINI_API_KEY=
GEMINI_MODEL=gemini-3.5-flash
GEMINI_BASE_URL=https://generativelanguage.googleapis.com

# 리눅스 or Mac은 터미널에 Windows는 Git Bash에 입력
# openssl rand -base64 32
JWT_SECRET=
JWT_REFRESH_SECRET=

#
# openssl rand -base64 32 / openssl rand -hex 16
ENCRYPT_KEY=
ENCRYPT_SALT=